# Compilados
/dist
/tmp
/out-tsc
/.angular

# IDEs
.vscode/
.idea/

# Dependências
/node_modules

# Ambiente
.env
*.env*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Testes
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos gerados
package-lock.json
